
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    @*Ortalamaya yarıyor*@

    <h3 class="alert alert-danger">Yeni Kategori Ekleme Alanı</h3> @*alert ile arka plan rengi ayarlıyoruz*@

    <label>Kategori Adı</label>
    <input type="text" class="form-control" /> @*form control şerit şeklinde olmasını sağlıyor*@
    <br />
    <label>Kategori Açıklaması</label>
    <input type="text" class="form-control" />
    <br />
    <label>Kategori Değeri</label>
    <input type="text" class="form-control" />
    <br />
    <button class="btn btn-primary">Kategori Oluştur</button> @*btn primary buttonu düzgün hale getiriyor*@

</div>
